<%= render SelectComponent.new(multiple: true, url: "/persons/filter.json", html_options: { data: { reflex: "change->Example#filter" }}) %>

<table>
<thead>
  <tr>
  <th>Name</th>
  </tr>
  </thead>
  <tbody>
  <% @persons.each do |person| %>
    <tr>
      <td><%= person.name %></td>
    </tr>
  <% end %>
  </tbody>
